:root {
  --green: #00e5b7;
  --grey: #ccc;
  --white: #fff;
}

html[data-theme="light"] {
  --background-color: #edfdf8;
  --alternate-background-color: #e8f3f1;
  --text-color: #121416d8;
  --link-color: #00e5b7;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --alternate-background-color: #353e42;
  --text-color: #f7f8f8;
  --link-color: #00e5b7;
}

html {
  height: 100%;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

/* nav-main */

.nav-main {
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-around;
}

.theme {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.6);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--link-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme .moon-sun {
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  transform: scale(1.3);
}

.theme .moon-sun iconify-icon {
  position: absolute;
}

#icon-theme-sun {
  display: none;
}

/* fim nav-main */
